$mal-card-color: rgba(0, 102, 255, 0.247);

.mal-card {
  // border: 1px solid blue;
  display: block;
  position: relative;
  height: 352px;
  width: 334px;
  overflow: hidden;
  box-shadow: 0px 20px 20px -17px $mal-card-color;
  -webkit-box-shadow: 0px 20px 20px -17px $mal-card-color;
  -moz-box-shadow: 0px 20px 20px -17px $mal-card-color;
  &:hover {
    -webkit-box-shadow: 0px 20px 35px -16px $mal-card-color;
    -moz-box-shadow: 0px 20px 35px -16px $mal-card-color;
    box-shadow: 0px 20px 35px -16px $mal-card-color;
    transform: translateY(-5px);
    transition: all 0.3s;
  }
  &__title {
    border-top: 2px solid blue;

    width: 334px;
    display: table-cell;
    height: 40px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
  }

  &__prodsrc {
    border-bottom: 2px dotted blue;
    border-top: 2px dotted blue;
    display: flex;
    flex-direction: row;
    padding: 3px 0;
    text-align: center;
    .producer {
      flex:1;
      color: #7f7f7f;
      font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
      font-size: 11px;
      margin: 0 8px;
      padding: 0;
      text-align: right;
      @media screen and (min-width: 0) and (min-resolution: 0.001dpcm) {
        width: 120px;
      }
    }

    .eps {
      border-left: 1px solid #d8d8d8;
      font-size: 11px;
      padding: 0 8px;
    }
    .source {
      border-left: 1px solid #d8d8d8;
      color: #7f7f7f;
      font-size: 11px;
      padding: 0;
      padding-left: 8px;
      text-align: left;
      @media screen and (min-width: 0) and (min-resolution: 0.001dpcm) {
        width: 120px;
      }
    }
  }

  &__genres {
    display: table-cell;
    margin: 0;
    width: 334px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    .MuiChip-root {
      margin:3px;
      background-color: rgba($mal-card-color, 0.02);
      font-size: 11px;
      color: rgb(116, 114, 114);
      cursor: pointer;
      &:hover {
        background-color: $mal-card-color;
        color: blue;
      }
      &:active {
        background-color: $mal-card-color;
        color: blue;
      }
    }
  }

  &__image {
    background-color: #f9f9f9;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 242px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
    position: relative;
    width: 167px;
  }

  &__synopsis {
    display: inline-block;
    font-size: 11px;
    height: 230px;
    line-height: 1.4em;
    padding: 6px 4px 4px 8px;
    width: 155px;
    float: left;
    text-align: right;
    direction: rtl;
    line-height: 1.8em;
    overflow: hidden;

    &:hover{
      overflow: auto;

    }
  }

  &__information {
    background-color: white;
    bottom: 0;
    display: table;
    height: 20px;
    left: 0;
    position: absolute;
    width: 334px;
    z-index: 2;
    .info {
      background: radial-gradient(#ffffff, $mal-card-color);
      color: #585858;
      display: table-cell;
      font-size: 10px;
      font-weight: 700;
      height: 20px;
      line-height: 1em;
      padding-top: 4px;
      text-align: center;
    }
    .release-date {
      width: 167px;
    }
  }
}

.mr4 {
  margin-right: 4px;
}
