@import "./fonts.scss";
@import "./colors.scss";
@import "./settings.scss";
@import "font-awesome/css/font-awesome.min.css";

// reset common styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: iranyekan, sans-serif;
}

// skeleton styles
$color-highlight: lighten($c-gray-95, 7%);
.skeleton {
  position: relative;
  overflow: hidden;
  background: $c-gray-95;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      $c-gray-95,
      $color-highlight,
      $c-gray-95
    );
    animation: skeleton-progress 1s linear forwards infinite;
    will-change: transform;
  }
}

@keyframes skeleton-progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
